.array-container {
  position: fixed;
  left: 10vw;
  right: 10vw;
  bottom: 0;
}

.array-bar {
  width: 2px;
  background-color: blue;
  display: inline-block;
  margin: 0 1px;
}

.array-comparing-bar {
  width: 2px;
  background-color: red;
  display: inline-block;
  margin: 0 1px;
}

.algo-btn {
  margin-left: 3em;
  margin-right: 3em;
}
