.array-container {
  position: absolute;
  left: 10vw;
  right: 10vw;
}

.array-bar {
  width: 2px;
  background-color: blue;
  display: inline-block;
  margin: 0 1px;
}

.array-comparing-bar {
  width: 2px;
  background-color: red;
  display: inline-block;
  margin: 0 1px;
}
